services:
  db:
    image: postgres:18.1
    environment:
      POSTGRES_USER: rmx
      POSTGRES_PASSWORD: rmx
      POSTGRES_DB: rmx
    ports:
      - 5432:5432
  pgweb:
    container_name: pgweb
    restart: always
    image: sosedoff/pgweb
    ports:
      - "8081:8081"
    links:
      - db:db
    environment:
      - PGWEB_DATABASE_URL=postgres://rmx:rmx@db:5432/rmx?sslmode=disable
    depends_on:
      - db
